<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangtuzi.study.test.mapper.UserMapper">
    <select id="selectUserFull" resultType="java.util.Map">
        select user.*,user_extend.description
        from user inner join user_extend on user.id=user_extend.id
    </select>
</mapper>
